@{
    ViewBag.Title = "Contact";
}

<div class="row" style="background-image: url('../Images/128-199.jpg');">
    <div class="container" style="padding:0;">


     
        <img class="img-responsive" src="~/Images/contact-us_background.jpg" />
       <div class="row reset contact-content">
           <div class="contact">
               <h4>
                   MID-BAY is a privately owned multi-disciplinary firm of engineering contractors.
                   We services both public and private sector of the economy, we presently
                   operates from our main offices as follows:

               </h4>
              <hr />
               <div class="col-md-5">
                   <img class="img-responsive" src="~/Images/contact-image.png" />

               </div>
               <div class="col-md-7">
                   <div class="row">
                       <p class="h4">
                           Our head office at FCT ABUJA NIGERIA<br /><br />
                           <p class="pull-left" style="margin:10px;"><b>Address</b></p>
                           <p class="pull-left alert alert-success"> NO. 53B, 11CRESCENT,
                           KADO ESTATE FCT-ABUJA</p>
                       </p>
                   </div>
                   <div class="row">
                       <p class="h4">
                           Our head office at KADUNA STATE NIGERIA<br /><br />
                       <p class="pull-left" style="margin:10px;"><b>Address</b></p>
                       <p class="pull-left alert alert-success">
                           NO. 1A, WUSASA D/MAGAJI,
                           JUNCTION, ZARIA-KADUNA
                       </p>
                      
                   </div>
                   <div class="row">
                       <p class="h4">
                          <br />
                       <p class="pull-left" style="margin:10px;"><b>Email Us:</b></p>
                       <p class="pull-left alert alert-warning">
                           engrsaf184@gmail.com<br />
                           
                       </p>
                      
                   </div>
                   <div class="row">
                       <p class="h4">
                           <br />
                       <p class="pull-left" style="margin:10px;"><b>Call Us:</b></p>
                       <p class="pull-left alert alert-danger">
                           08038894389, 08069190303,
                           08123481975, 08036147895
                           
<br />

                       </p>

                   </div>

               </div>
              
           </div>
       </div>
           
        
       

    </div>

</div>
